<div class="container">
    <h2>Zarejestruj użytkownika</h2>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {{/if}}

    <form action="/user/signUp" method="POST">

        <div class="mb-3">
            <label for="name" class="form-label">Nazwa użytkownika</label>
            <input type="text" class="form-control" id="name" name="name" value="{{user.name}}" />
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email użytkownika</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" />
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Hasło użytkownika</label>
            <input type="password" class="form-control" id="password" name="password" value="{{user.password}}" />
        </div>

        <button type="submit" class="btn btn-primary">Zarejestruj</button>

    </form>

</div>