<div class="container">
    
    <h2>Dodaj Wydarzenie</h2>
    <form action= "/customer/{{_customerId}}/addEvent" method="POST">

        <div class="mb-3">
            <label class="form-label" for="contactDate"><strong>Data kontaktu</strong></label>
            <input type="date" class="form-control" id="contactDate" name="contactDate">
        </div>

        <div class="mb-3">
          <label for="type"><strong>Typ</strong></label>
          <select id="type" name="type" class="form-select" aria-label="Default select example">
            <option value="">Choose...</option>
            <option value="phone">Telefon</option>
            <option value="email">E-mail</option>
            <option value="meeting">Spotkanie</option>
          </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description"><strong>Opis</strong></label>
            <input type="text" placeholder="Opis" class="form-control" id="dexcription" name="description">
        </div>
        
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>

</div>






